%h2
  What's Delorean?
%p
  Delorean database is a message-driven document-oriented database (what a big name!).
%p
  It was originally envisioned by Bernardo Heynemann (http://github.com/heynemann) for the sole purpose of learning Ruby.

%h2
  Downloading the Source

%p
  You can download the source from http://github.com/heynemann/delorean. It's a FOSS (Free and Open Source) project, so if you want to fork it, contribute to it, sell it, smoke it, or anything else you can think of, go for it.

%h2
  Suggestions

%p
  I ask that if you want to send any suggestions my way, please use the github issues system. Just create an issue there and I promise I'll look into it.