%h2
  What's Delorean?
%p
  Delorean database is a message-driven document-oriented database (what a big name!).
%p
  It was originally envisioned by <a href="http://github.com/heynemann" target="_blank">Bernardo Heynemann</a> for the sole purpose of learning Ruby.

%h2
  Downloading the Source

%p
  You can download the source from <a href="http://github.com/heynemann/delorean" target="_blank">http://github.com/heynemann/delorean</a>. It's a FOSS (Free and Open Source) project, so if you want to fork it, contribute to it, sell it, smoke it, or anything else you can think of, go for it.

%h2
  Suggestions

%p
  I ask that if you want to send any suggestions my way, please use the <a href="http://github.com/heynemann/delorean/issues" target="_blank">github issues system</a>. Just create an issue there and I promise I'll look into it.