%form{:action=>'create', :method=>'post'}
  .name-field
    %label{:for=>'name'}
      Name
    %input#name{:type=>'text', :name=>'name'}
  .submit
    %input.submit{:type=>'submit', :value=>'Create'}