%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

%head
  %title Delorean Database
  %link{:rel=>'stylesheet', :href=>'/css/grid.css', :type => "text/css"}       
  %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}       
%body
  #wrap
    .grid_1#left
      &nbsp;
    .grid_10#content
      .grid_12#header
        %a.logo{:href=>'http://github.com/heynemann/delorean'}
          %img.logo{:src=>'/img/delorean-logo-sm.png', :border=>0}
      .grid_12#menu
        %a.menu-item{:href=>'/catalogues'} Catalogues
        %a.menu-item{:href=>'/about'} About Delorean
      .grid_12#main
        = yield
      .grid_12#footer
        Delorean Database - v0.1.0 - 2010
    .grid_1#right
      &nbsp;