$red: #C1291C
$orange: #EF7627
$darkgreen: #4F5320
$green: #928630
$lightgreen: #B1AF40
$verylightgreen: #e8ffdd
$white: #FFFFFF
$darkgray: #666666

body 
  :background url('/img/background-top.png') repeat-x scroll 0 0 
    :color $white
  :font
    :family arial
    :size 100%
    :line-height 1.25
  
  :color $darkgreen

#header
  :margin 0px 0px

h1
  :font
    :size 2em

h2
  :font
    :size 1.5em

h3
  :font
    :size 1.16667em

#menu
  :margin-top 10px

#content
  :background url('/img/background-white.png') no-repeat scroll 0 0 
  :width 972px

#main
  :margin-left 15px
  :width 935px

a
  :text-decoration none
  :color $red
  &:hover
    :opacity .75

a.menu-item
  :border-left solid 1px $white
  :padding
    :left 5px
    :right 5px
  &:hover
    :border-left solid 1px $red

#footer
  :text-align center
  :font
    :size .725em

div.info
  :border solid 1px $lightgreen
  :color $darkgray
  :padding 0px 6px 0px 6px
  :text-align justify
  :margin 0px 120px 0px 120px
  :background
    :color $verylightgreen

div.form
  :margin 20px 120px 0px 120px

div.submit
  :text-align center